<div class="home">
  <div class="header">
   <button (click)="handleToggle()" class="button1"><i class="fa fa-bars text-primary"></i></button>
   <button routerLink="/cart" class="button2"><i class="fa fa-cart-plus text-primary"></i><h5>{{service.cart.length}}</h5></button>
  </div>
   <div *ngIf="menu" class="menu">
    <div routerLink="/sell">SELL YOUR PRODUCT</div>
    <div routerLink="/store">GO TO STORE</div>
    <div routerLink="/client">BUY FROM CLIENT</div>
    <div routerLink="/cart">MY CART</div>
    <div routerLink="/transaction">MY TRANSACTION</div>
    <div routerLink="/help">CONTACT ADMIN FOR HELP</div>
    <div routerLink="/login">LOG OUT</div>
   </div>
   <div class="body">
     <div class="holder" *ngFor="let pro of service.client; let i=index">
       <button class="btn btn-danger myBtn" (click)="handleCart(i)"><i class="fa fa-cart-plus"></i></button>
       <button class="btn btn-danger myPrice">{{pro.price | currency}}</button>
       <img src={{pro.image}} alt="">
       <button class="cart" (click)="handleInfo(i)">MORE INFO</button>
     </div>
   </div>
 
   <div *ngIf="detail" class="detail">
     <span>Below are the details of the Product</span>
    <div><h5>PRODUCT NAME: {{service.client[info].phone}}</h5></div>
    <div><h5>PRODUCT PRICE: {{service.client[info].price | currency}}</h5></div>
    <div><h5><img src={{service.client[info].image}} alt=""></h5></div>
    <div><button (click)="handleOkay()">OKAY</button></div>
   </div>
 
 </div>
 