.body{
    width: 100%;
    height: 100vh;
    padding: 10%;
    overflow-y: scroll;
    .login{
        text-align: center;
        margin-top: 40px;
    }
   .form{
       margin-top: 20%;
       width: 100%;
       height: 100vh;
     .alert{
        text-align: center;
         }
         .myBox{
             width: 100%;
             margin-bottom: 30px;
             input{
                 width: 100%;
                 margin-top: 10px;
                 outline: none;
                 border: 1px solid #6C63FF;
                 background-color:transparent;
             }
             .span{
                 font-weight: bold;
                 font-size: 13px;
             }
         }
         button{
             width: 100%;
             height: 50px;
             background-color:#6C63FF ;
             color: white;
             font-weight: bold;
         }
         .fpass{
             text-align: center;
             margin-top: 10px;
         }
         .create{
             hr{
                 border: 1px solid rgb(204, 201, 201);
             }
             span{
                 color:#6C63FF;
             }
             text-align: center;
         }
   }
}