<div class="body">
  <div *ngIf="!server" class="server">
    <div>
     <p>It seems you're not connected to the internet! Please check!</p>
     <button class="btn btn-light" (click)="closeServer()">Okay</button>
    </div>
   </div>
 <h5 class="login">Sign into Digital Store</h5>
<form class="form" [formGroup]="forms">
  <div class="myBox">
    <span class="span">EMAIL:</span>
    <div>
      <input (input)="handleInput()" type="text" class="form-group form-control-lg" formControlName="email">
      <div *ngIf="email?.invalid && email?.touched" class="text-danger font-weight-bold">{{valid}}</div>
      <div *ngIf="emailError" class="text-danger font-weight-bold">Email doesn't exist!</div>
    </div>
  </div>
  <div class="myBox">
    <span class="span">PASSWORD:</span>
    <div>
      <input (input)="handleInput2()" type="text" class="form-group form-control-lg" formControlName="password">
      <div *ngIf="password?.invalid && password?.touched" class="text-danger font-weight-bold">{{valid}}</div>
      <div *ngIf="passwordError" class="text-danger font-weight-bold">Password doesn't exist</div>
    </div>
  </div>
  <button  [disabled]="forms?.invalid && !server" (click)="handleSubmit()">LOGIN</button>
 <div class="fpass" routerLink="/reset">Forgot password?</div>
 <div class="create" routerLink="/signup">
   <hr>
   <div>Need an account? <span>Join Digital Store</span></div>
 </div>
</form>
</div>