<div class="body">
 <h5 class="login">Sign into Digital Store</h5>
<form class="form" [formGroup]="forms">
  <div class="myBox">
    <span class="span">EMAIL:</span>
    <div>
      <input type="text" class="form-group form-control-lg" placeholder="ENTER YOUR EMAIL" formControlName="email">
      <div *ngIf="email?.invalid && email?.touched" class="text-danger font-weight-bold">{{valid}}</div>
    </div>
  </div>
  <div class="myBox">
    <span class="span">PASSWORD:</span>
    <div>
      <input type="text" class="form-group form-control-lg" placeholder="ENTER YOUR PASSWORD" formControlName="password">
      <div *ngIf="password?.invalid && password?.touched" class="text-danger font-weight-bold">{{valid}}</div>
    </div>
  </div>
  <button  [disabled]="forms?.invalid" (click)="handleSubmit()">LOGIN</button>
 <div class="fpass" routerLink="/reset">Forgot password?</div>
 <div class="create" routerLink="/signup">
   <hr>
   <div>Need an account? <span>Join Digital Store</span></div>
 </div>
</form>
</div>