<div class="body">
  <div *ngIf="!server" class="server">
     <div>
      <p>Oops! You have lost internet connection. Please check!</p>
      <button class="btn btn-light" (click)="closeServer()">Okay</button>
     </div>
   </div>
<img src="../../assets/un.png" alt="">
<div class="tag">
  <div class="mytext">
    <p>You can get any digital device and home Appliance on</p>
  </div>
  <div class="title">
  <h1 class="text-primary">DIGITAL STORE</h1>
  </div>
</div>
<button [disabled]="!server" class="myBut" (click)="handleToggle()"><i class="fa fa-bars text-primary"></i></button>
<div *ngIf="menu" class="menu">
  <div routerLink="/sell">SELL YOUR PRODUCT</div>
  <div routerLink="/store">GO TO STORE</div>
  <div routerLink="/client">BUY FROM CLIENT</div>
  <div routerLink="/cart">MY CART</div>
  <div routerLink="/transaction">MY TRANSACTION</div>
  <div routerLink="/help">CONTACT ADMIN FOR HELP</div>
  <div routerLink="/login" (click)="handleLogOut()">LOG OUT</div>
</div>
</div>